{% extends 'blog/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
                {{ post.body|linebreaks }}
            </p>
            <a href="{% url "blog:post_share" post.id %}" class="card-link">Share</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="py-4">
        <h5>Products</h5>
        <ul class="list-group list-group-horizontal">
            {% for product in post.products.all %}
                <li class="list-group-item d-flex flex-column col-sm-4 justify-content-baseline align-items-center">
                    {% include 'shop/product_detail.html' with product=product %}
                    <a class="addCart" href="#" data-id="{{ product.id }}">Add to Cart</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card border-white">
        <div class="card-body">
            <div class="card-title">
                <h5>Comments</h5>
            </div>
            <ul class="list-group">
                {% for comment in comments %}
                    <li class="list-group-item">
                        <b>{{ comment.name }}:</b> {{ comment.body|linebreaks }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card border-white">
        {% include 'blog/post/includes/comment_form.html' %}
    </div>
{% endblock content %}
<script>
    {% block domready %}
        const url = '{% url 'shop:add_cart' %}';
        const options = {
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin'
        }
        const elements = Array.from(document.getElementsByClassName('addCart'));
        elements.forEach(elem => {
            elem.addEventListener('click', function (e) {
                e.preventDefault();
                const formData = new FormData()
                formData.append('id', this.dataset.id);
                options['body'] = formData;
                fetch(url, options).then(response => response.json()).then(data => {
                    const elem = document.getElementById('cart_count');
                    elem.innerHTML = data['cart_length'];
                });
            })
        });
    {% endblock %}
</script>