{% extends 'blog/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
                {{ post.body|linebreaks }}
            </p>
            <a href="{% url "blog:post_share" post.id %}" class="card-link">Share</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card">
        <ul class="list-group">
            {% for comment in comments %}
                <li class="list-group-item">
                    <b>{{ comment.name }}:</b> {{ comment.body|linebreaks }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card">
        {% include 'blog/post/includes/comment_form.html' %}
    </div>
{% endblock content %}