{% extends 'blog/base.html' %}

{% block content %}
    <h1>LIST</h1>

    <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item">
                <a class="fs-3" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                <p>
                    {{ post.body|truncatewords:30 }}
                </p>
            </li>
        {% endfor %}
    </ul>
    {#   CBV의 경우 posts 대신 page_obj 사용 #}
    {% include 'blog/pagination.html' with page=posts %}

{% endblock content %}