{% extends 'blog/base.html' %}
{% load humanize %}

{% block title %}
    주문하기
{% endblock %}

{% block content %}
    <h1>주문하기</h1>
    <div class="container-fluid d-flex flex-row justify-content-between">
        <form class="col-sm-6" action="{% url 'shop:order_create' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="결제하기" class="btn btn-primary form-control">
        </form>

        <div class="col-sm-3">
            <ul class="list-group rounded-0 d-flex flex-column col-sm-12">
                <li class="list-group-item">
                    <h4>주문정보</h4>
                </li>
                {% for product_id, item in cart_dict.items %}
                    <li class="list-group-item col-sm-12 d-flex flex-row align-items-center justify-content-between">
                        <span>{{ item.product }}({{ item.price|intcomma }}원)</span>
                        <span>x {{ item.quantity }}</span>
                    </li>
                {% endfor %}
                <li class="list-group-item h3">
                    Total: {{ total_price|intcomma }}원
                </li>
            </ul>
            <div class="container d-flex flex-column align-items-end">
        <span class="h3">
        </span>
            </div>
        </div>
    </div>
{% endblock %}